/* Fade-In Animation */

* {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.alert,
.notice,
.notification {
    color: #fff !important;
    background-color: #265728 !important;
    width: 100%;
    border-radius: 0px;
}

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
    /*For debugging, remove after*/
}

a {}

hr {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.mainContent {
    max-width: 500px;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 10px 20px 10px;
}

.header {
    width: 100%;
}

.header h2 {
    text-align: center;
}

.icon-container,
#icon {
    width: 100px;
    margin: auto;
}

.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

#alert {
    display: none;
    background-color: rgba(255, 255, 0, 0.4);
    color: rgb(214, 8, 8);
    border-radius: 5px;
    padding: 5px;
    margin: 0px 0px 5px 0px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}

#localInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    width: 90%;
}

#containerDateTime {
    font-size: 16px;
    font-weight: bolder;
    margin: 2px 0px 2px 0px;
    width: auto;
    margin: auto;
}

#time,
#date {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
}

#time {
    width: auto;
}

#date {
    width: auto;
}

.weather-info,
.status,
.location,
.weather-details,
.detail,
.inputBox {
    width: 300px;
    text-align: center;
}

.footer {
    text-align: center;
    width: 100%;
}

.status {
    font-size: 32px;
    font-weight: 900;
}

.location {
    font-size: 18px;
}

.citySearch {
    width: 200px;
    margin: auto;
}

.detail {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
}

.value {
    font-size: 24px;
}

.controls button {
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px 10px 5px 10px;
}


/*Forecast Element Styling */

#forecast {
    width: 99%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    display: none;
}

.forecastRow {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: 5px 0px 5px 0px;
}

.forecastLeft,
.forecastRight {
    width: 45%;
}

.forecastRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 71px;
}

.forecastDay {
    font-size: 20px;
}

.forecastNumbers {
    display: flex;
    justify-content: center;
}

.forecastDataBlock {
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    font-size: 18px;
    margin: 2px 5px 2px 5px;
}

.forecastDataBlock i{
    font-size: 15px;
}


/*Mobile Styling */

@media only screen and (max-width: 500px) {
    .icon-container,
    #icon {
        width: 75px;
    }
    .status {
        font-size: 20px;
    }
    .location {
        font-size: 15px;
    }
    .title {
        font-size: 15px;
    }
    .value {
        font-size: 20px;
    }
    .footer {
        font-size: 12px;
    }
}

::-webkit-input-placeholder {
    text-align: center;
}

 :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

 :-ms-input-placeholder {
    text-align: center;
}